*.log
.DS_Store
.jest-*
lib
node_modules
tmp/
*.tsbuildinfo
*.log
package-lock.json
yarn.lock
examples/nexus-graphql/src/schema/generated
examples/nexus-graphql/node_modules
examples/nexus-graphql/prisma/migrations
examples/nexus-graphql/prisma/.env